################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ui2.sln
/ui2/ui2-local-overrides.js
/ui2/ui2-local-overrides.css
